@charset 'UTF-8';

/********** useful **********/
.hide {position:absolute; overflow:hidden; width:1px; height:1px; margin: -1px; clip: rect(0,0,0,0); font-size:1px;}
caption {position:static; overflow:hidden; width:1px; height:1px; margin:0; padding:0; font-size:1px; text-indent:-9999px;}
.clearfix:after {content:""; display:block; width:0; height:0; font-size:0; clear:both;}
.cursor {cursor:pointer;}
.none {display:none !important;}
.on_iblock {display:inline-block !important;}
.on_block {display:block !important;}
.pc-view {display:block !important;}
.m-view {display:none !important;}
.fc_fff {color:#fff;}
.fc_333 {color:#333;}
.fc_666 {color:#666;}
.fc_888 {color:#888;}
.fc_basic {color:#005fa9;}
.fc_basic2 {color:#1e5099;}
.fc_blue {color:#1879ba;}
.fc_skyblue {color:#62c1e8;}
.fc_red {color:#e42626;}
.fc_orange {color:#ff771b;}
.fw_500 {font-weight:500;} /* 주 사용 폰트의 font-face 에 맞춰 사용 */
.fw_700 {font-weight:700;}
.ta_l {text-align:left !important;}
.ta_c {text-align:center !important;}
.ta_r {text-align:right !important;}
.tbl_center {text-align: center; vertical-align: middle;}
.dotdot {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.mid_helper {display:inline-block; height:100%; vertical-align:middle;}
.link_txt {color:#ff771b; font-weight: 700; text-decoration: underline;}
.link_txt.break {word-break:break-all;}
.link_txt:hover {text-decoration:underline;}

.on_991 {display:none !important;}
.on_767 {display:none !important;}
.on_640 {display:none !important;}
.on_480 {display:none !important;}
.ib_991 {display:none !important;}
.ib_767 {display:none !important;}
.ib_640 {display:none !important;}
.ib_480 {display:none !important;}
.i_991 {display:none !important;}
.i_767 {display:none !important;}
.i_640 {display:none !important;}
.i_480 {display:none !important;}

.mt_3 {margin-top:3px;}
.mt_5 {margin-top:5px;}
.mt_10 {margin-top:10px;}
.mt_15 {margin-top:15px;}
.mt_20 {margin-top:20px;}
.mt_25 {margin-top:25px;}
.mt_30 {margin-top:30px;}
.mt_40 {margin-top:40px;}
.mt_50 {margin-top:50px;}

.mb_5 {margin-bottom:5px;}
.mb_10 {margin-bottom:10px;}
.mb_15 {margin-bottom:15px;}
.mb_20 {margin-bottom:20px;}
.mb_25 {margin-bottom:25px;}
.mb_30 {margin-bottom:30px;}
.mb_40 {margin-bottom:40px;}
.mb_50 {margin-bottom:50px;}

.mr_5 {margin-right: 5px;}
.mr_10 {margin-right: 10px;}

.ml_5 {margin-left:5px;}

code {white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-all}
/********** // useful **********/


/* bullet list, txt */
.bull_list > li {position: relative; line-height: 1.5; margin-bottom:8px; padding-left:13px; word-break:keep-all;}
.bull_list > li:last-child {margin-bottom:0 !important;}
.bull_list > li:before {content: ''; display: block; position: absolute; left: 1px; top: 12px; width: 6px; height: 1px; background-color: #333;}
.bull_list.dot > li:before {left: 3px; width: 2px; height: 2px; border-radius: 50%;}
.bull_list.arr > li:before {content: '>'; top: 2px; background-color: #fff; font-family: "sans-serif"; font-size: 10px;}
.bull_list.sq > li:before {left: 2px; top: 10px; width: 3px; height: 3px; background-color: #4e4e4e;}

.num_list {padding-left: 16px;}
.num_list > li {margin-bottom:3px; list-style-type:decimal; word-break:keep-all;}
.num_list > li:last-child {margin-bottom:0 !important;}
.num_list.size1 > li {margin-bottom: 10px;}

.abs_bull_list > li {position:relative; z-index:1; line-height: 1.5; margin-bottom:3px; padding-left:20px; word-break:keep-all;}
.abs_bull_list > li:last-child {margin-bottom:0 !important;}
.abs_bull_list.size1 > li {margin-bottom: 10px;}

.bull_txt {position: relative; padding-left:13px; word-break:keep-all;}
.bull_txt:before {content: ''; display: block; position: absolute; left: 1px; top: 8px; width: 6px; height: 1px; background-color: #333;}
.bull_txt.dot:before {left: 3px; width: 2px; height: 2px; border-radius: 50%;}
.bull_txt.sq:before {left: 3px; width: 3px; height: 3px;}
.bull_txt.arr:before {content: '>'; top: 2px; background-color: #fff; font-family: "sans-serif"; font-size: 10px;}

.bull_list > li.no_bull:before {display: none;}
/* // bullet list, txt */


/* sch_bar */
.sch_bar_box {margin-bottom:20px; font-size:15px;}
.total_txt {margin-bottom:15px;}
.total_txt .num {color:#0056a2; font-weight: 700;}
.total_txt .page {color: #646464; font-weight: 300;}
.sch_bar_box .total_txt {float:left; margin-top:21px; margin-bottom:0;}
.sch_bar {float:right; font-size:15px;}
.sch_bar:after {content:""; display:block; width:0; height:0; clear:both;}
.sch_label {display:block; float: left; height:40px; line-height:40px; margin-right:5px; vertical-align: top;}
.sch_slt {float: left; width: 110px; height:40px; margin-right:5px; padding: 0 8px; border:1px solid #ccc; vertical-align: top; font-size: 15px;}
.sch_input {float: left; width: 260px; height:40px; margin-right: 5px; padding: 0 10px; border:1px solid #ccc; vertical-align: top; font-size: 15px;}
.sch_btn {float: left; width:60px; height:40px; line-height:40px; background-color:#1458a6; font-size:15px; 
color:#fff; text-align:center; vertical-align: top; transition:background-color 0.3s;}
.sch_btn:hover, .sch_btn:focus {background-color:#0b386c;}
/* // sch_bar */

/* sel_bar */
.sel_bar {float:left; margin-left:9px;}
.sel_bar:after {content:""; display:block; width:0; height:0; clear:both;}
.sel_slt {float: left; width: 130px; height:46px; margin-right:5px; padding: 0 8px; border:1px solid #ccc; vertical-align: top;}
/* // sel_bar  */

/* sub_sch_box */
.sub_sch_box {position:relative; z-index:1; margin-bottom:55px; padding:18px; background-color:#f4f5f8;}
.sub_sch_box .row {display:table; width:100%; margin-bottom:10px;}
.sub_sch_box .row:last-of-type {margin-bottom: 0 !important;}
.sub_sch_box .row > label {display:table-cell; width:70px; font-size:18px; vertical-align:middle; text-align:center;}
.sub_sch_box .slt_box {display:table-cell; padding-right:10px; vertical-align:middle;}
.sub_sch_box select {width:100%; height:50px; padding-left: 15px; border: 1px solid #d7d7d7; color:#888; font-family: "Nanum Gothic"; cursor:pointer;}
.sub_sch_box .input_box {display:table-cell; padding-right:10px; vertical-align:middle;}
.sub_sch_box input {width:100%; height:50px; padding: 0 18px; border: 1px solid #d7d7d7;}
.sub_sch_box .input_box.date {font-size:0;}
.sub_sch_box .input_box.date input {width:46%; padding:0 5px; padding-left:40px; background: #fff url('../images/sub/cal_ico.png') 12px center/19px no-repeat; font-size:13px; cursor:pointer;}
.sub_sch_box .input_box.date .date_wave {display:inline-block; width:8%; font-size:15px; text-align:center;}
.sub_sch_box .row > *:last-child {padding-right:0;}
.sub_sch_box .btn_box {display: table-cell; width: 100px; vertical-align: middle;}
.st_sch_btn {display:block; width:100%; height:50px; background-color: #2bc63e; transition:background-color 0.3s; color: #fff; text-align:center;}
.st_sch_btn .ico {display:inline-block; height:40px; line-height:40px; padding-left:25px; background:url('../images/sub/sub_sch_ico.png') 0 center no-repeat; color:#fff; font-weight: 300;}
.st_sch_btn:hover, .st_sch_btn:focus {background-color:#278c3c;}

.sub_sch_box.rows .st_sch_btn {height:90px; line-height:90px; margin-top:-45px;}

.sub_sch_box.style1 .row {max-width:720px; margin: 0 auto;}
.sub_sch_box.style1 .slt_box {width: 25%;}
.sub_sch_box.style1 label {width: 110px;}

.sub_sch_box.total {padding: 28px; background-color: #fff; border: 2px solid #e8e8e8;}
.sub_sch_box.total .row {max-width:960px; margin: 0 auto;}
.sub_sch_box.total .row > label {width: 125px; font-size:26px; font-weight: 500;}
.sub_sch_box .chk_box {display:table-cell; width: 150px; padding-left: 30px; vertical-align: middle;}
.sub_sch_box .chk_box .chk_each label {color: #000;}

.sub_sch_box.birth .row {max-width:600px; margin: 0 auto;}
.sub_sch_box.birth label {width: 170px;}
/* // sub_sch_box */

/* board_list */
.board_list {width:100%; border-top:1px solid #002962; color: #666; text-align:center; border-collapse:collapse; table-layout:fixed;}
.board_list thead {border-bottom:1px solid #d1dae6;}
.board_list tbody tr {border-bottom:1px solid #e8e8e8; transition:all 0.3s;}
.board_list tbody tr.top {background-color: #fcf0f0 !important;}
.board_list tbody tr:hover {background-color:#f7f7f7;}
.board_list th, .board_list td {padding:16px;}
.board_list thead th {height: 50px; padding:10px; background-color: #f6f9fd; color: #07245d; font-weight: 700;}
.board_list td.file {font-size:0;}
.board_list tr > *:first-child {border-left-width: 0;}
/* // board_list */

/* hi_board_list */
.hi_board_list {overflow:hidden;}
.hi_board_list > li {float:left; width:29.5%; margin-right:5.75%; margin-bottom:35px;}
.hi_board_list > li:nth-child(3n) {margin-right:0;}
.hi_board_list > li:nth-child(3n+1) {clear:both;}
.hi_board_list > li:nth-last-child(1), .hi_board_list > li:nth-last-child(2), .hi_board_list > li:nth-last-child(3) {margin-bottom: 0;}
.hi_board_list > li > a {display:block;}
.hi_board_list .img_box {position:relative; z-index:1; overflow:hidden; margin-bottom:30px; padding-bottom:73.44%; background-color:#f7f7f7; text-align:center;}
.hi_board_list .img_box .inner_box {position:absolute; left:0; top:0; z-index:1; width:100%; height:100%;}
.hi_board_list .img_box .mark {display:inline-block; position:absolute; left:0; top:0; z-index:2; height:25px; line-height:25px; padding:0 10px; background-color:#f4511e; color:#fff; font-size:14px;}
.hi_board_list .img_box img {width:100%; height:100%; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;}
.video_bg {display:block; position:absolute; left:0; top:0; z-index:1; width:100%; height:100%; background: rgba(0,0,0,0.2) url('../images/common/video_bg.png') center center no-repeat;}

.hi_board_list > li > a:hover img, .hi_board_list > li > a:focus img {transform:scale(1.1);}
.hi_board_list > li > a:hover .tit, .hi_board_list > li > a:focus .tit {color: #1d4b99; font-weight: 500; text-decoration: underline;}
/* // hi_board_list */

/* vi_board_list */
.vi_board_list {border-top:2px solid #5f6577;}
.vi_board_list > li {overflow:hidden; padding: 20px 0; border-top:1px dashed #ccc;}
.vi_board_list > li:first-child {border-top:0 none;}
/* // vi_board_list */

/* board_view */
.board_view {border-top: 2px solid #333;}
.board_view_tit {padding: 25px; background-color: #f9f9f9; border-bottom: 1px solid #ddd; font-size: 18px; font-weight: 500;}
.board_view_file {padding: 13px 25px; border-bottom: 1px solid #ddd;}
.board_view_file li {position: relative; margin-bottom:8px; padding-left:32px; color: #999;}
.board_view_file li:last-child {margin-bottom:0;}
.board_view_file li:before {content: ''; display: block; position: absolute; left: 0; top: 0; width: 24px; height: 24px; background:url('../images/sub/att_down_ico.png') center/11px no-repeat; border: 1px solid #cfcfcf; border-radius: 50%;}
.board_view_file li a {display: inline-block; padding-top: 5px; font-size: 15px;}
.board_view_file li a:hover {text-decoration:underline;}
.board_view_con {padding: 40px 25px; border-bottom: 1px solid #ddd;}
.board_btn_box {margin-top: 35px; text-align: center;}
.board_btn {display: inline-block; width: 130px; height: 50px; line-height: 48px; margin: 0 2px; border: 1px solid #bbb; font-size: 17px; text-align: center;}

.editor_view.gray {padding: 30px; background-color: #efefef;}

/* board_write */
.bw_top_txt {margin-bottom:10px; font-size: 14px; text-align:right;}
.bw_top_txt.tit_next {margin-top: -35px;}
.bw_top_txt img {vertical-align:middle;}
.board_write {width:100%; border-spacing: 0; border-collapse:collapse; border-top:2px solid #1a1a1a;}
.board_write tr {border-bottom:1px solid #d7d7d7;}
.board_write th {padding:0 20px; font-weight: 700;  color:#000; text-align:left; vertical-align:middle; background-color:#eef4fb;}
.board_write td {padding: 10px 20px;}

.board_write .bd_l {border-left: 1px solid #d9d9d9;}
.board_write tr * {vertical-align:middle;}
.board_write input[type="text"], .board_write input[type="password"], .board_write select {width:100%; height:40px; border:1px solid #d8d8d8;}
.board_write input[type="text"], .board_write input[type="password"] {padding:0 15px;}
.board_write textarea {width: 100%; padding:10px; border:1px solid #d8d8d8; color:#333;}
.board_write td input:nth-of-type(2), .board_write td input:nth-of-type(3), .board_write td input:nth-of-type(4) .board_write td input:nth-of-type(5) {margin-top:5px;}

.attach_box {position:relative; z-index:1; margin-bottom:10px;} 
.attach_box:last-child {margin-bottom:0;}
.attach_input {position:absolute; left:0; top:0; z-index:1; visibility:hidden;}
.attach_vbox {position:relative; z-index:1; font-size:0;}
.attach_vbox .attach_vinput:read-only {width:calc(100% - 80px); height:40px; padding:0 5px; background-color: #fff !important; cursor:pointer;}
.attach_btn {display:inline-block; z-index:1; width:80px; height:40px; line-height:38px; font-size:16px; background-color:#fff; border: 1px solid #d8d8d8; border-left-width:0px; color:#000; text-align:center; cursor:pointer; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;}
.attach_vbox:nth-of-type(2),.attach_vbox:nth-of-type(3),.attach_vbox:nth-of-type(4),.attach_vbox:nth-of-type(5) {margin-top:5px;}

.radio_each {position:relative; display:inline-block; margin: 2px 25px 2px 0; margin-right:30px; vertical-align:top; cursor:pointer;}

.radio_each input[type="radio"] {position:absolute; overflow:hidden; width:1px; height:1px; margin: -1px; clip: rect(0,0,0,0); font-size:1px;}
/*
.radio_each label:before {content:""; position:absolute; top:50%; left:0; margin-top:-11px; width:22px; height:22px; border-radius:50%; background:url('../images/sub/radio_off.png') no-repeat center; } 
.radio_each input[type="radio"]:checked + label:before {background-image:url('../images/sub/radio_on.png');}
.radio_each:last-child {margin-right:0;}
*/
.radio_each label {position:relative; z-index:1; padding-left:28px; cursor:pointer; color:#000;}
.radio_each .vradio {display:block; position:absolute; left:0; top:-1px; z-index:1; width:20px; height:20px; border:2px solid #c9c9c9; border-radius:50%;}
.radio_each .vradio .cir {display:block; position:absolute; left:50%; top:50%; z-index:1; width:6px; height:6px; margin-left:-3px; margin-top:-3px; background-color:#fff; border-radius:50%;}
.radio_each input:checked + label .vradio {border-color:#4a4a4a;}
.radio_each input:checked + label .vradio .cir {background-color:#4e4e4e;}
.radio_each input:focus + label .vradio {outline:1px dotted #000; outline:-webkit-focus-ring-color auto 5px;}
.radio_each input:disabled + label .vradio {background-color: #efefef; opacity: 0.6;}
.radio_each input:disabled + label .vradio .cir {background-color: #efefef;}

.chk_each {display: inline-block; vertical-align: middle; margin-right:28px}
.chk_each label {display: inline-block; position: relative; z-index: 1; padding-left: 30px; color:#666; font-size: 15px; cursor:pointer;}
.chk_each.no_txt label {padding-left: 20px;}
.chk_each .vchkbox {display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 20px; height: 20px; border: 1px solid #e3e3e3;}
.chk_each input:checked + label .vchkbox {background:#fff url('../images/sub/chkbox_ico.png') center/15px no-repeat;}
.chk_each input:focus + label .vchkbox {outline:1px dotted #000; outline:-webkit-focus-ring-color auto 5px;}
/* board_write */

/* pagination */


/* common_btn */
.common_btn_box {margin-top: 20px;}
.common_btn_box.center {margin-top: 40px; text-align: center;}
.common_btn_box.p_row {margin-top: -45px; text-align: right;}
.common_btn {display:inline-block;  padding:0 20px; min-width:100px; height:40px; line-height:38px; margin-left:4px; background-color:#1458a6; border: 1px solid #1458a6; color:#fff; font-size: 15px; font-weight: 500; text-align:center; transition:all 0.3s;}
.common_btn:first-child {margin-left: 0;}
.common_btn:hover, .common_btn:focus {background-color:#fff; color: #1458a6;}
.common_btn.black {background-color: #46495a; border-color: #46495a;}
.common_btn.black:hover, .common_btn.black:focus {background-color: #fff; color: #333;}
.common_btn.white {background-color: #fff; border-color: #bbb; color: #333;}
.common_btn.white:hover, .common_btn.white:focus {background-color: #efefef;}
.common_btn .ico {display: inline-block; padding-right: 25px; background: right center/15px no-repeat;}
.common_btn.up_arr .ico {background-image: url('../images/sub/up_arr_ico.png');}
/* // common_btn */

/* 지우기 */
/*
.common_btn.long {width: 170px;}
.common_btn.long2 {width: 220px;}
.common_btn.regist {background-color:#2196f3; border-color:#2196f3;}
.common_btn.regist:hover, .common_btn.regist:focus {background-color:#fff; color:#2196f3;}
.common_btn.ok {background-color:#2196f3; border-color:#2196f3;}
.common_btn.ok:hover, .common_btn.ok:focus {background-color:#fff; color:#2196f3;}
.common_btn.update {background-color:#2196f3; border-color:#2196f3;}
.common_btn.update:hover, .common_btn.update:focus {background-color:#fff; color:#2196f3;}
.common_btn.next {background-color:#2196f3; border-color:#2196f3;}
.common_btn.next:hover, .common_btn.next:focus {background-color:#fff; color:#2196f3;}
.common_btn.cancel {background-color:#fff; border-color:#bbb; color: #333;}
.common_btn.cancel:hover, .common_btn.cancel:focus {background-color: #efefef;}
.common_btn.modify {background-color:#9a9a9a; border-color:#9a9a9a;}
.common_btn.modify:hover, .common_btn.modify:focus {background-color:#FFF; color:#9a9a9a;}
.common_btn.gray {background-color:#686868; border-color: #686868;}
.common_btn.gray:hover, .common_btn.gray:focus {background-color:#414141;} */


/* agree_box */
.priv_box {padding: 25px; background-color: #f6f6f6; border: 1px solid #ddd;}
.priv_box .inner_box {overflow: auto; max-height: 240px; padding: 20px; background-color: #fff; border: 1px solid #ddd;}
.priv_dep1 {margin-bottom: 20px;}
.priv_dep1:last-child {margin-bottom: 0;}
.priv_dep2 {padding-left: 19px;}
.priv_tit1 {margin-bottom: 5px; font-family: "NanumSquare"; font-size: 17px;}
.priv_txt {color: #666;}

/* basic_table */
/*.basic_table {width:100%; border-spacing: 0; border-collapse:collapse; border-top:2px solid #2e51ad; border-right:1px solid #2e51ad; border-bottom:1px solid #2e51ad;}
.basic_table th, .basic_table td {padding:10px 5px; border-left:1px solid #7189c7; border-top:1px solid #7189c7; -webkit-box-sizing:border-box; box-sizing:border-box;}
.basic_table th:first-child, .basic_table td:first-child {border-left-color:#2e51ad;}
.basic_table th {background-color:#eaeaea; font-weight:bold;}*/




/* basic_tab */
.basic_tab {margin-bottom:50px;}
.basic_tab:after {content:""; display:block; width:0; height:0; font-size:0; clear:both;}
.basic_tab > li {display:table; float:left; margin-bottom:3px; border:1px solid #d7d7d7; border-left-width:0; border-collapse: collapse; table-layout: fixed;}
.basic_tab.tab_2p > li {width:50%;}
.basic_tab.tab_3p > li {width:33.33%;}
.basic_tab.tab_4p > li {width:25%;}
.basic_tab.tab_5p > li {width:20%;}
.basic_tab.tab_5p > li.li_2w {width:40%;}
.basic_tab.tab_6p > li {width:16.66%;}
.basic_tab.tab_7p > li {width:14.28%}
.basic_tab.tab_2p > li:nth-child(2n-1),
.basic_tab.tab_3p > li:nth-child(3n-2),
.basic_tab.tab_4p > li:nth-child(4n-3),
.basic_tab.tab_5p > li:nth-child(5n-4),
.basic_tab.tab_6p > li:nth-child(6n-5),
.basic_tab.tab_7p > li:nth-child(7n-6) {border-left-width:1px;}
.basic_tab > li > a {display:table-cell; position:relative; z-index:1; width:100%; height:60px; background-color: #fff; font-size:17px; text-align:center; vertical-align:middle; transition:all 0.3s;}
.basic_tab > li > a:before {content: ''; display: block; position: absolute; bottom: -1px; width: 100%; height: 2px; background-color: #1d4b99; opacity: 0; transition:all 0.3s;}
.basic_tab > li > a:after {content: ''; display: block; position: absolute; left: 50%; bottom: -8px; margin-left: -5px; border-top: 7px solid #1d4b99; border-left: 6px solid transparent; border-right: 6px solid transparent; opacity: 0; transition:all 0.3s;}

.basic_tab_con {display:none;}
.basic_tab_con:first-child {display:block;}

.basic_tab_control_box {position: relative; padding: 0 50px;}
.basic_tab_control_box .btn {display: block; position: absolute; left: 0; top: 6px; width: 36px; height: 36px; background: url('../images/sub/tab_prev.png');}
.basic_tab_control_box .btn.next {left:auto; right: 0; background-image: url('../images/sub/tab_next.png');}

.basic_tab.style2 > li {border-width: 0;}
.basic_tab.style2 > li > a {background-color: #e9eaef;}
.basic_tab.style2 > li.active > a {background-color: #1d4b99; color: #fff;}

.basic_tab.style3 > li.active > a {background-color: #3aa85e; color: #fff !important;}
.basic_tab.style3 > li {border-right-width: 0; border-top: 2px solid #3aa85e; border-bottom: 2px solid #3aa85e;}
.basic_tab.style3 > li:first-child {border-left-width: 0;}
.basic_tab.style3 > li > a {height: 48px; color: #3aa85e;}
.basic_tab.style3 > li > a:before {display: none;}
.basic_tab.style3 > li > a:after {display: none;}
.basic_tab.style3 > li > a:hover {color: #226e3b;}

.basic_tab > li > a:hover, .basic_tab > li.active > a {color:#1d4b99;}
.basic_tab > li > a:hover:before, .basic_tab > li.active > a:before, .basic_tab > li > a:hover:after, .basic_tab > li.active > a:after {opacity: 1;}

/* animation keyframes */
@-webkit-keyframes scale1_3 {
	0% {transform:scale(1);}
	50% {transform:scale(1.3);}
	100% {transform:scale(1);}
}
@keyframes scale1_3 {
	0% {transform:scale(1);}
	50% {transform:scale(1.3);}
	100% {transform:scale(1);}
}


/* 폼스타일 */
.board_write .sel_form_group select {width:auto;}

/* btn_form01 */
.board_write .form_group.bt01:after {content:""; display:block; clear:both; width:0px; height:0px; font-size:0;}
.board_write .form_group.bt01 input[type="text"], 
.board_write .form_group.bt01  input[type="password"],
.board_write .form_group.bt01  select {width:calc(100% - 104px); float:left;}
.board_write .form_group.bt01  .common_btn {display:block; float:left;}

/* btn_form02 */
.board_write .form_group.bt02:after {content:""; display:block; clear:both; width:0px; height:0px; font-size:0;}
.board_write .form_group.bt02 input[type="text"], 
.board_write .form_group.bt02  input[type="password"],
.board_write .form_group.bt02  select {width:calc(100% - 208px); float:left;}
.board_write .form_group.bt02  .common_btn {display:block; float:left;}

.team_mem_list .form_group.bt02 input[type="text"] {width:calc(100% - 229px);}


/* 팝업 */
.board_layer_pop_wrap {display:none; position: fixed; left: 0; top: 0; z-index: 999999; overflow: auto; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); font-size: 0; text-align: center;}
.board_layer_pop_wrap:after {content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.board_layer_pop {display: inline-block; position: relative; padding:0 20px; z-index: 1; width: 100%; max-width:800px; background-color: #fff; font-size: 16px; box-shadow:1px 0 7px rgba(0,0,0,0.25); text-align: left; vertical-align: middle;}
.board_layer_pop_tit {padding:20px 30px 20px 0; color:#000; font-weight: 900; font-family: "NanumSquare"; font-size:23px; text-align:left; border-bottom:1px solid #e1e1e1;}
.board_layer_view .con {min-height:300px; padding:30px 0;}
.board_layer_pop .common_btn_box {margin-top: 0; padding:20px 0 30px 0; text-align: center;}
.board_layer_pop .close_btn {position: absolute; right: 20px; top: 22px; width: 24px; height: 24px; transition: all 0.3s;}
.board_layer_pop .close_btn .xi-close {color:#000; font-size:22px;}
.board_layer_pop .close_btn:hover, .board_layer_pop .close_btn:focus {transform: rotate(180deg);}

/****************** respond ******************/
@media screen and (max-width:1100px){
	/* useful */
	.none_1100 {display:none !important;}
	.i_1100 {display:inline !important;}
	.ib_1100 {display:inline-block !important;}
}

@media screen and (max-width:991px){
	/* useful */
	.on_991 {display:block !important;}
	.none_991 {display:none !important;}
	.i_991 {display:inline !important;}
	.ib_991 {display:inline-block !important;}

	
	/* sch_bar */
	.sch_input {width:220px;}
	.sel_slt {width:120px;}
	.sch_slt {width:120px;}

	/* attach_box */
	.attach_box_wrap .attach_vbox {width:40%;}
	.attach_box_wrap .attach_tbox  {width:calc(60% - 142px);}
}

@media screen and (max-width:767px){
	/* useful */
	.pc-view {display:none !important;}
	.m-view {display:block !important;}
	.on_767 {display:block !important;}
	.none_767 {display:none !important;}
	.i_767 {display:inline !important;}
	.ib_767 {display:inline-block !important;}

	/* sch_bar */
	.sch_bar_box .total_txt {float:none; margin-top:0; margin-bottom:10px;}
	.sch_bar {float:none; margin-bottom:15px;}
	.sch_label {margin-right:0;}
	.sch_slt {width:22%; margin-right:0; height: 40px;}
	.sch_slt.m100 {width: 100%; margin-bottom: 5px;}
	.sch_input {width:calc(78% - 60px); height: 40px; margin-right: 0; border-left-width: 0; border-right-width: 0;}
	.sch_input.only {width: 100%;}
	.sch_btn {height: 40px; line-height: 40px;}
	.total_txt {padding-top: 3px; background-size: 14px; font-size: 14px;}

	/* sel_bar */
	.sel_bar {float:none; margin:10px 0 5px 0;}
	.sel_bar:after {content:""; display:block; width:0; height:0; clear:both;}
	.sel_slt {float: left; width: 100%; height:40px; margin-right:0px; padding: 0 8px; border:1px solid #ccc; vertical-align: top;}

	/* sub_sch_box */
	.sub_sch_box {margin-bottom: 30px; padding: 15px !important; border-width: 0;}
	.sub_sch_box .row {display:block; margin-bottom:0;}
	.sub_sch_box .row > label {display:block; width:100%; margin-bottom:5px; text-align:left;}
	.sub_sch_box .slt_box {display:block; width:100% !important; margin-bottom:5px; padding-right:0;}
	.sub_sch_box select {height: 40px;}
	.sub_sch_box .input_box {display:block; width:100% !important; margin-bottom:0; padding-right:60px;}
	.sub_sch_box input {height: 40px; border-right-width: 0;}
	.sub_sch_box .input_box.date input {padding-right:40px; background-size:35px;}
	.sub_sch_box .btn_box {display: block; position: absolute; right: 15px; bottom: 15px; width: 80px;}
	.st_sch_btn {height: 40px; font-size: 14px;}
	.st_sch_btn .ico {padding-left: 22px; background-size: 17px;}

	.sub_sch_box.style1 .row {max-width:none;}
	.sub_sch_box.style1 label {display: none;}

	.sub_sch_box.total {padding: 18px;}
	.sub_sch_box.total .row > label {font-size:20px;}
	.sub_sch_box .chk_box {display:block; position: absolute; right: 18px; top: 15px; width: auto; padding-left: 0;}

	/* board_list */
	.board_list {border-top-width: 2px;}
	.board_list, .board_list tbody, .board_list tr, .board_list td {display: block;}
	.board_list thead {display: none;}
	.board_list tr {position:relative; z-index:1; overflow:hidden; padding: 12px 5px;}
	.board_list td {float: left; width: auto; border:0 none; padding:4px 0; font-size: 14px; text-align:left;}
	.board_list td.num {color: #123f80; font-weight: 700; min-width:25px; padding-top:6px;}
	.board_list td.note {display: none;}
	.board_list td.sort {color:#123f80; font-weight:700;}
	.board_list td.sort:before {content:"["; padding:0; padding-right:2px; vertical-align:baseline; font-size:13px;}
	.board_list td.sort:after {content:"]"; display:inline-block; padding-left:2px; font-size:13px;}
	.board_list td.tit, .board_list td.id {width:calc(100% - 35px); margin-bottom: 4px;}
	.board_list td.tit a {display: block; display: -webkit-box; max-height: 2.6em; font-size: 17px; font-weight: 500; vertical-align:top; white-space: normal; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
	.board_list td.memo {width: 100%;}
	.board_list td.view {float: right;}
	.board_list td.file {margin-top: 2px;}
	.board_list td.atime {clear: both;}
	.board_list td:before {content:"|"; display:inline-block; margin-top:-2px; padding:0 10px; color:#777; font-size:10px; vertical-align:middle;}
	.board_list td.num:before, .board_list td.tit:before, .board_list td.tit + td:before, .board_list td.view:before, .board_list td.atime:before, .board_list td.memo:before, .board_list td.id + td:before {display:none !important;}
	.board_list .mark {padding:2px 6px;}
	.board_list .tit .new_mark, .board_list .tit .reply_mark {display: inline-block;}
	.bd_m_txt {display: inline-block;}
	.m_lbl_txt {display: inline;}

	.board_list .ox_mark {font-size: 15px; vertical-align: -1px;}

	/* hi_board_list */
	.hi_board_list > li {width:48%; margin-right:4%; margin-bottom: 35px;}
	.hi_board_list > li:nth-child(3n) {margin-right:4%;}
	.hi_board_list > li:nth-child(2n) {margin-right:0;}
	.hi_board_list > li:nth-child(3n+1) {clear:none;}
	.hi_board_list > li:nth-child(2n+1) {clear:both;}
	.hi_board_list > li:nth-last-child(3) {margin-bottom: 30px;}
	.hi_board_list .img_box {margin-bottom: 15px;}
	.hi_board_list .txt_box .tit {font-size: 17px;}
	.hi_board_list .info_box {margin-top: 10px; font-size: 13px;}
	.hi_board_list .status {width: 65px; line-height: 35px; font-size: 15px;}

	/* vi_board_list */
	.vi_board_list {padding: 0 15px;}
	.vi_board_list > li {float: left; width:48%; margin-right:4%;}
	.vi_board_list > li:nth-child(2n) {margin-right:0;}
	.vi_board_list > li:nth-child(2n+3) {clear:both;}
	.vi_board_list .img_box {position:relative; z-index:1; float:none; width:100%; margin-bottom:15px; padding-bottom:75%;}
	.vi_board_list .img_box .inner_box {position:absolute; left:0; top:0; z-index:1; width:100%; height:100%; font-size:0;}
	.vi_board_list .img_box img {width:auto; max-height:100%; vertical-align:middle;}
	.vi_board_list .mid_helper {display:inline-block;}
	.vi_board_list .txt_box {float:none; width:100%; padding-top:0;}
	.vi_board_list .tit {display:-webkit-box; max-height:2.4em; line-height:1.2em; font-size:1em; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; white-space:normal;}
	.vi_board_list .txt {display:none;}

	.vi_board_list.no_img > li {float: none; width: 100%;}
	.vi_board_list.no_img .txt {display:-webkit-box;}

	/* board_view */
	.board_view_tit {padding: 17px 15px;}
	.board_view_info {overflow: hidden; padding: 12px 15px;}
	.board_view_info li {margin-right: 20px;}
	.board_view_info li.view {float: right;}
	.board_view_info .tit {margin-right: 9px; padding-right: 9px;}
	.board_view_file {padding: 0;}
	.board_view_file li {margin-bottom:0; padding: 10px 15px 10px 48px; border-bottom: 1px solid #ddd;}
	.board_view_file li:before {left: 15px; top: 9px;}
	.board_view_file li:last-child {border-bottom-width: 0;}
	.board_view_file li a {padding-top: 4px;}
	.board_view_con {padding: 30px 15px;}
	.board_btn_box {margin-top: 20px;}
	.board_btn {width: 100px; height: 45px; line-height: 43px; font-size: 15px;}
	.board_btn .ico {padding-left: 18px; background-size: 13px;}
	.board_view_nav {margin-top: 20px;}
	.board_view_nav .ntxt {width: 75px; padding: 13px 0;}
	.board_view_nav .tit {padding: 13px 10px 13px 0;}
	.board_view_nav .tit:after {display: none;}

	/* board_write */
	.bw_top_txt.tit_next {margin-top: 0;}
	.board_write colgroup col.m_fixed {width:130px !important;}
	.board_write input[type="text"], .board_write input[type="password"], .board_write select {height: 30px; padding: 0 10px;}
	.board_write .name_input, .board_write .pwd_input {width: 100%;}
	.board_write .email_input1, .board_write .email_input2, .board_write .email_slt {width:100%; margin-bottom: 4px;}
	.board_write .email_input2 {width: calc(100% - 18px);}
	.board_write .email_slt {margin-bottom: 0;}
	.board_write .phone_slt {float: left; width: calc(50% - 4px); margin-right: 4px;}
	.board_write .phone_input1 {float: left; width: 50%;}
	.board_write .phone_input2 {float: left; width: calc(50% - 4px); margin-top: 4px;}
	.board_write .bnum_input {float: left; width: calc(50% - 4px); margin-right: 4px;}
	.board_write .bnum_input:last-of-type {margin-top: 4px;}
	.board_write_box.scroll {overflow:auto; padding:20px 0; background:url('../images/sub/lr_arr_ico.png') 48% 0 no-repeat; background-size:30px; animation: tblScrollAni 2s infinite;}
	.board_write_box.scroll .board_write {min-width:767px;}
	.write_sup_txt.next_inp {margin-top: 5px;}
	/* .attach_box {margin-bottom:15px;} */
	.attach_box_wrap .attach_vbox {width:100%;}
	.attach_box_wrap .attach_vbox .file_btn {min-width:100px; height:30px; line-height:30px; font-size:14px;;}
	.attach_box_wrap .attach_tbox {width:100%; margin-top:5px;}	
	.attach_btn_group {margin-left:0; margin-top:5px;}
	.attach_btn_group .attach_btn {height:30px; line-height:30px; font-size:14px;}
	.bw_in_btn {line-height: 30px; padding: 0 12px; font-size: 14px;}


	.board_write {font-size: 15px;}
	.board_write td {padding: 10px 15px;}
	.board_write th {padding: 0 10px;}
	.radio_each {margin-right: 20px;}
	.radio_each label {padding-left: 22px;}
	.radio_each .vradio {width: 18px; height: 18px;}
	.board_write .radio_each .vradio {top: 2px;}

	.input_btn_row .btn_cell {display: table-cell; width: 74px; vertical-align: top;}
	
	/* pagination */
	.pagination {width:100%; margin-bottom:15px;}
	.pagination a {width: 32px; height: 32px; line-height: 32px; font-size: 13px;}
	.pagination .page_arrow.l2, .pagination .page_arrow.r2 {width:32px}

	/* common_btn */
	.common_btn_box.center {margin-top: 35px;}
	.common_btn_box.p_row {margin-top: 20px;}
	.common_btn {min-width: 110px; height: 38px; line-height: 36px; font-size: 15px; padding:0 12px;}
	.common_btn.long {width: 100%; margin-left: 0; border-left-width: 0; border-right-width: 0;}
	.common_btn.long2 {width: 190px;}

	/* agree_box */
	.priv_box {padding: 20px 0;}
	.priv_box .inner_box {max-height:150px; border-left-width: 0; border-right-width: 0;}
	.priv_dep1 {margin-bottom: 15px;}
	.priv_dep2 {padding-left: 16px;}
	.priv_tit1 {font-size: 15px;}
	.priv_txt {font-size: 14px;}
	
	/* basic_table */
	.basic_table th, .basic_table td {padding:7px 5px;}
	.basic_table_box.scroll {position:relative; z-index:1; overflow:auto; margin-top:15px; padding:12px 0; 
	background:url('../images/sub/lr_arr_ico.png') 48% 0 no-repeat; background-size:30px; animation: tblScrollAni 2s infinite;}
	.basic_table_box.scroll .basic_table {min-width:767px;}

	@-webkit-keyframes tblScrollAni {
		0% {background-position:48% 0;}
		50% {background-position:52% 0;}
		100% {background-position:48% 0;}
	}
	@keyframes tblScrollAni {
		0% {background-position:48% 0;}
		50% {background-position:52% 0;}
		100% {background-position:48% 0;}
	}

	/* basic_tab */
	.basic_tab {margin-bottom:30px;}
	.basic_tab > li > a {height: 50px; font-size: 15px;}
	.basic_tab > li > a:before {height: 2px;}

	/* board_write */
	.board_write col:first-child {width: 100px !important;}

	
	/* 폼스타일 */
	.board_write.board_write_2d th {background-color:transparent;}
	.board_write_2d tr {display:block; border-bottom:none;}
	.board_write_2d td, .board_write_2d th {display:block;}

	.board_write_2d th {padding:10px 15px 0 15px;}
	.board_write_2d td {border-bottom:1px solid #d7d7d7; margin-bottom:10px; padding:10px 15px 20px 15px;}
	.board_write_2d colgroup col:nth-child(2n-1) {width: 100% !important;}
	.board_write_2d colgroup col:nth-child(2n) {width: 100% !important}
	.board_write .sel_form_group select {width:100%;}

	.board_write_3d tr {display:block; border-bottom:none; background-color:none;}
	.board_write_3d td, .board_write_2d th {display:block;}
	.board_write_3d th {padding:10px 15px 0 15px;}
	.board_write_3d .board_write th {background-color:transparent;}
	.board_write_3d td {border-bottom:1px solid #d7d7d7; margin-bottom:10px; padding:10px 15px 20px 15px;}
	.board_write_3d colgroup col:nth-child(2n-1) {width: 100% !important;}
	.board_write_3d colgroup col:nth-child(2n) {width: 100% !important}

	.board_write .form_group.bt01 input[type="text"], .board_write .form_group.bt01 input[type="password"], .board_write .form_group.bt01 select {width:calc(100% - 84px);}
	.board_write .form_group.bt02 input[type="text"], .board_write .form_group.bt02 input[type="password"], .board_write .form_group.bt02 select {width:calc(100% - 168px);}
	.board_write .form_group.bt01 .common_btn, .board_write .form_group.bt02 .common_btn {height:30px; line-height:30px; min-width:auto; font-size:14px;}
	
    /* 팝업 */
    .board_layer_pop {padding:0 15px;}
    .board_layer_pop_tit {font-size: 18px; padding:15px 25px 15px 0;}
    .board_layer_view .con {padding:20px 0 0 0;}
    .board_layer_pop .common_btn_box {padding:15px 0;}
    .board_layer_pop .common_btn_box .common_btn {min-width:80px; height:32px; line-height:30px; font-size:14px;}
    .board_layer_pop .close_btn {right:20px; top:16px; width:18px; height:18px;}
    .board_layer_pop .close_btn .xi-close {font-size:18px;}
}

@media screen and (max-width:640px){
	/* useful */
	.on_640 {display:block !important;}
	.none_640 {display:none !important;}
	.i_640 {display:inline !important;}
	.ib_640 {display:inline-block !important;}


}

@media screen and (max-width:480px){
	/* useful */
	.on_480 {display:block !important;}
	.none_480 {display:none !important;}
	.i_480 {display:inline !important;}
	.ib_480 {display:inline-block !important;}
	
	/* board_list */
	.board_list td.date {width: 100%;}
	.board_list td.name:before {display: none;}

	/* hi_board_list */
	.hi_board_list .status {left: 8px; top: 8px; width: 50px; line-height: 30px; font-size: 13px;}

	.attach_box_wrap .attach_vbox input {width:calc(100% - 84px);}
	.attach_box_wrap .attach_vbox .file_btn {min-width:80px; width:80px; padding:0 10px;}
	/* .board_write {text-align:left; overflow:hidden;}
	.board_write caption, .board_write colgroup {display:none;}
	.board_write, .board_write tbody, .board_write tr, .board_write th, .board_write td {display:block; width:100%;}
	.board_write tr {overflow:hidden; margin-bottom:5px; border-bottom:0 none;}
	.board_write th {float:left; padding:15px 10px 5px; background-color:#FFF; border-top:1px solid #ddd; border-right:0 none; color:#000; font-size:15px; text-align:left;}
	.board_write td {float:left; padding:5px 10px 15px;}
	.board_write tr:last-child td {border-bottom:1px solid #ddd;} */
	/* .attach_vbox {padding-right: 70px;} */
	/* .attach_btn {width: 70px; font-size: 13px;} */


	/* common_btn */
	.common_btn {min-width:90px;}

	/* basic_tab */
	.basic_tab > li {margin-bottom: 0;}
    .basic_tab > li > a:after {display: none;}
	.basic_tab.tab_7p > li {width:33.33%; margin-bottom:0;}
	.basic_tab.tab_7p > li:nth-child(3n-2) {border-left-width: 1px;}
	.basic_tab.tab_7p > li > a:after {content:none;}
	
	.board_write .form_group.bt01 input[type="text"], .board_write .form_group.bt01 input[type="password"], .board_write .form_group.bt01 select {width:calc(100% - 64px);}
	.board_write .form_group.bt02 input[type="text"], .board_write .form_group.bt02 input[type="password"], .board_write .form_group.bt02 select {width:calc(100% - 128px);}
	.board_write .form_group.bt01 .common_btn, .board_write .form_group.bt02 .common_btn {font-size:14px;}
}