@charset 'UTF-8';

@font-face {
  font-family: 'Maplestory';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
  url('../fonts/Maplestory-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Maplestory';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
  url('../fonts/Maplestory-Bold.ttf') format('truetype');
}

