@charset "UTF-8";

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src:local('※'),
	url('../fonts/Montserrat-Light.eot'),
	url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Montserrat-Light.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src:local('※'),
	url('../fonts/Montserrat-Regular.eot'),
	url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Montserrat-Regular.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src:local('※'),
	url('../fonts/Montserrat-Medium.eot'),
	url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Montserrat-Medium.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src:local('※'),
	url('../fonts/Montserrat-Bold.eot'),
	url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Montserrat-Bold.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	src:local('※'),
	url('../fonts/Montserrat-ExtraBold.eot'),
	url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}