@charset 'UTF-8';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('※'),
    url('../fonts/Roboto-Light.eot'),
    url('../fonts/Roboto-Light.eot#iefix') format('embedded-opentype')
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.otf') format('opentype'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
    url('../fonts/Roboto-Regular.eot'),
    url('../fonts/Roboto-Regular.eot#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.otf') format('opentype'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('※'),
    url('../fonts/Roboto-Medium.eot'),
    url('../fonts/Roboto-Medium.eot#iefix') format('embedded-opentype')
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.otf') format('opentype'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
    url('../fonts/Roboto-Bold.eot'),
    url('../fonts/Roboto-Bold.eot#iefix') format('embedded-opentype')
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.otf') format('opentype'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}